/* Entire Page */
body {

    margin: 0;
    padding: 0;

    font-family: 'Poppins', sans-serif;

    background: linear-gradient(135deg, #667eea, #764ba2);

    min-height: 100vh;

    color: white;
}

/* Main Layout */
.app {

    display: flex;

    gap: 30px;

    padding: 40px;

    min-height: 100vh;

    box-sizing: border-box;
}

/* Left Section */
.left-section {

    flex: 1;

    background: rgba(255,255,255,0.15);

    backdrop-filter: blur(10px);

    padding: 30px;

    border-radius: 20px;

    box-shadow: 0 8px 32px rgba(0,0,0,0.2);
}

/* Right Section */
.right-section {

    flex: 1.2;

    background: rgba(255,255,255,0.15);

    backdrop-filter: blur(10px);

    padding: 30px;

    border-radius: 20px;

    box-shadow: 0 8px 32px rgba(0,0,0,0.2);

    overflow-y: auto;

    max-height: calc(100vh - 80px);
}

/* Heading */
h1 {

    font-size: 42px;

    margin-bottom: 10px;
}

/* Subtitle */
.subtitle {

    color: #eeeeee;

    margin-bottom: 30px;
}

/* Input Box */
.input-box {

    display: flex;

    flex-direction: column;

    gap: 15px;
}

/* Input & Textarea */
input,
textarea {

    padding: 15px;

    border: none;

    border-radius: 12px;

    outline: none;

    font-size: 16px;

    transition: 0.3s;
}

/* Focus Effect */
input:focus,
textarea:focus {

    transform: scale(1.02);
}

/* Textarea */
textarea {

    resize: none;

    height: 150px;
}

/* Character Counter */
#charCount {

    text-align: right;

    color: #dddddd;
}

/* Button */
button {

    padding: 15px;

    border: none;

    border-radius: 12px;

    background: #00c6ff;

    color: white;

    font-size: 18px;

    font-weight: bold;

    cursor: pointer;

    transition: 0.3s;
}

/* Hover */
button:hover {

    background: #0072ff;

    transform: scale(1.03);
}

/* Error */
#errorMessage {

    color: #ffb3b3;
}

/* Empty State */
#emptyState {

    margin-top: 30px;

    text-align: center;

    color: #eeeeee;
}

/* Todo List */
ul {

    list-style: none;

    padding: 0;

    margin-top: 20px;
}

/* Todo Card */
li {

    background: rgba(255,255,255,0.2);

    padding: 20px;

    border-radius: 15px;

    margin-bottom: 20px;

    animation: fadeIn 0.5s ease;
}

/* Animation */
@keyframes fadeIn {

    from {

        opacity: 0;
        transform: translateY(20px);
    }

    to {

        opacity: 1;
        transform: translateY(0);
    }
}

/* Task Title */
.todo-title {

    font-size: 22px;

    font-weight: 600;
}

/* Task Description */
.todo-description {

    margin-top: 10px;

    color: #f0f0f0;
}

/* Buttons Area */
.todo-buttons {

    margin-top: 20px;

    display: flex;

    gap: 10px;
}

/* Edit Button */
.edit-btn {

    background: orange;
}

/* Delete Button */
.delete-btn {

    background: crimson;
}

/* Responsive */
@media(max-width: 900px) {

    .app {

        flex-direction: column;
    }
}